.container {
  position: relative;
}

#logo {
  position: absolute;
  top: 100px;
  left: 680px;
  display: block;
}

#textbox {
  width: 560px;
  height: 40px;
  position: absolute;
  top: 350px;
  left: 680px;
  box-shadow: 1px 3px #ccc;
  border: 1px solid #ccc;
  padding: 2px;
}

#mic {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 355px;
  left: 1205px;
  z-index: 5;
}

.button {
  position: absolute;
  top: 420px;
  border: 1px solid #f2f2f2;
  padding: 0px 16px;
  text-align: center;
  height: 36px;
  background-color: #f2f2f2;
  color: #757575;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.button:hover {
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #222;
}

.srch {
  left: 845px;
}

.luck {
  right: 777px;
}

.offr {
  position: absolute;
  top: 480px;
  left: 860px;
}
